<header>
    <article class="hero pico-background-azure-50">
        <nav class="container">
            <ul>
            </ul>
            <ul>
                <li><a href="{{ site.url }}"><i class="fa fa-home"></i></a></li>
                <li><a href="{{ site.url }}/about/">About Me</a></li>
                <li><a href="{{ site.url }}/reviews/">Reviews</a></li>
                <li><a href="{{ site.url }}/inclusivity/">Inclusivity</a></li>
                <li><a href="{{ site.url }}/book/">Contact</a></li>
            </ul>
        </nav>
        <div class="container">
            <hgroup>
                <h1>Julia Littlefair</h1>
                <small>English Teacher</small>
            </hgroup>
        </div>
    </article>
</header>